.aside {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 296px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &-logo {
        margin-bottom: 32px;
    }

    &-link {
        transition: 0.1s;
        padding-top: 12px;
        padding-bottom: 12px;

        &:hover.aside-link::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 32px;
            left: 0;
            background: #198754;

        }


    }
}