.main {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
    height: 100vh;

    &-thead th,
    td {
        padding-top: 0;
        padding-bottom: 5px;
    }

    &-tbody th,
    td {
        padding-top: 18px;
        padding-bottom: 18px;
    }
}